.marginTop{
    margin-top: 95px;
}
.text{
    color: #7533af;
}
.btnbody{
    color: #7533af !important ;
}
.bg{
    background-color: #7533af;
}
.btn-secondary{
    background-color: #7533af !important;
}

.background{
    background-color: #fafafa;
}
.backgrounddefault{
    background-color: #7533af  ;
}
.roundedbody{
 border-radius: 15px !important;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
}
.indexpara{
    font-size: 12px;
}